@charset "utf-8";
$color-font-1:#fff;
$color-font-2:#222;
$color-font-3:#333;
$color-font-4:#555;
$color-font-5:#666;
$color-font-6:#0666b2;
$color-font-7:#0f997b;
$color-font-8:#0966b3;
$color-font-9:#ffcc00;
$color-font-10:#eee;
$color-font-11:#0f3966;
$color-font-12:#da2d2d;

$color-bg-1:#fff;
$color-bg-2:#f6f6f6;
$color-bg-3:#d6d6d6;
$color-bg-4:#999;
$color-bg-5:#edf4fa;
$color-bg-6:#0966b3;
$color-bg-7:#0f3966;
$color-bg-8:#0f3a67;
$color-bg-9:#0f997b;
$color-bg-10:#ffcc00;
$color-bg-11:#666;

$color-border-1:#fff;
$color-border-2:#e5e5e5;
$color-border-3:#d6d6d6;
$color-border-4:#666;
$color-border-5:#0f997b;
$color-border-6:#0966b3;
$color-border-7:#333;
$color-border-8:#f6f6f6;
$color-border-9:#999;
$color-border-10:#0f3966;