@charset "utf-8";
a, address, area, article, aside, audio, b, body, br, button, canvas,
caption, cite, code, col, colgroup, dd, del, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, frame, frameset, h1, h2, h3, h4, h5,
h6, head, header, hr, html, i, iframe, img, ins, input, label, legend, li,
link, map, meta, nav, object, ol, p, pre, q, rp, rt, ruby, s, script,
section, select, source, span, strong, style, sub, summary, sup, table,
tbody, td,textarea, tfoot, th, thead, time, title, tr, u, ul, video{margin:0;padding:0;font-family:inherit;font-size:inherit;font-style:normal;font-weight:inherit;color:inherit;box-sizing:border-box;-webkit-overflow-scrolling:touch}
html,body{height:100%}
html{-webkit-text-size-adjust:none}
body{font-weight:300;color: #666;line-height:1.53;word-break:keep-all;word-wrap:break-word}
dl,ul,ol,menu,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:inherit}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
fieldset,img,table,caption,tbody,tfoot,thead,tr,th,td,button,hr{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal}
blockquote,q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:''}
table{width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed}
caption,legend{width:0;height:0;font-size:0}
img{border:0;vertical-align:top;max-width:100%}
a{text-decoration:none;color:inherit}
input[type="text"],input[type="password"],textarea{-webkit-appearance:none}
select,input[type="text"],input[type="password"],textarea,button{border-radius:0}
button {overflow:visible;text-transform:none;-webkit-appearance:button;cursor:pointer;border:0;background:none}
input::-ms-clear{display:none}
select::-ms-expand{display:none}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{resize:none}
label{cursor:pointer}
